:root {
      --animate-slide-in: slide-in-scale 0.3s ease-out;

      @keyframes slide-in-scale{
            0% {
                  opacity: 0;
                  transform: translateY(100%);
            }

            100% {
                  opacity: 1;
                  transform: translateY(0);
            }
      }
}

body{
      font-family: 'Inter',sans-serif;
}

@media (max-width: 600px) {
      .medicalbg{
            height: 362px !important;
            background-size: contain !important;
      }
}

@media (max-width: 600px) {
      .subscribebg{
            background-size: contain !important;
      }
}