@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
     --animate-slide-in: slide-in-scale 0.3s ease-out;

      @keyframes slide-in-scale{
            0% {
                  opacity: 0;
                  transform: translateY(100%);
            }

            100% {
                  opacity: 1;
                  transform: translateY(0);
            }
      }
}

.overflow{
      overflow: hidden;
}
      

